


.card-title a {
  text-decoration: none;
}

.cardparent .card{
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  min-width: 250px;
}

.cardparent img{
  width: 100%;
  height: auto;
  border: 0;
}

.cardparent .card-body{
  padding: 0 15px 15px 15px;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 
}

.card-body h5{
  font-size: 24px;
  margin: 7px 0;
}

.card:hover{
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.card p{
  color: #6c757d;
}

.price p  {
  text-align: center;
}

.price {
  height: 200px;
}

.price  h4 {
  margin-bottom: 10px;
}

.card-body h5 a{
  color: #222;
}

.cardView {
  text-align: center;
  margin: 10px 0;
}

.cardView button {
  padding: 5px 20px;
  background-color: #222;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.cardView a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.priceINN {
  font-weight: 600;
}
.priceINN span {
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

.cardheaderImg {
  height: 200px;
}
.cardheaderImg div {
  height: 100%;
}