@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Work+Sans:wght@300;400;500&display=swap');
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@mixin transition {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Variables

$bgWhite:#ffff;
$shadow:0 10px 20px 0 rgba(79, 35, 35, 0.08);


// NavBar

nav {

    @include transition();
    box-shadow: $shadow;

    .smallMenu {
       @include flex();
    }


    .logo {
        width: 180px;
        height: 60px;
    }

    .sidelogo {
        width: 200px;
        height: 60px;
    }
    
    .nav__level1__items__Trigger  {
        @include transition();
        margin-right: 20px;
        cursor: pointer;
         span {
             height: 2px;
             width: 18px;
             background: black;
             margin-bottom: 5px;
             display: block;
             &:nth-child(2) {
                 width: 24px;
             }
         }
    }
    // sideNav
    .nav__level1__items__Home {
      @include transition();
      box-shadow: $shadow;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: $bgWhite;
      overflow-x: hidden;
      transition: 0.5s;
        a {
        display: block;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        color: black;
        font-weight: 600; 
        &:hover {
            background-color: #ddd;
        }
        .cartICon > * {
            font-size: 20px;
        } 
    }
}

.bigscrennNav {
    margin-right: 20px;
    a {
        text-align: center;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        color: black;
        font-weight: 600; 
        .cartICon > * {
            font-size: 20px;
        } 
    }
}
    // Menu Open logic classes
    .navisClosed {
      width: 0px;
    }
    .navisOpen {
        width: 200px;
    }
    // navTrigger anim
    .navOpen {
       
        margin-top: 10px;
        span {
            @include transition();
            position: relative;
            &:nth-child(1) {
                transform: rotate(48deg);
                top: -3px;
              
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(135deg);
                top: -10px;
            }
        }
    }
}

// !--- NavBar




// Media Queries

@media screen and (max-width: 900px) {
    .bigscrennNav {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .nav__level1__items__Trigger {
        display: none !important;
    }

      nav {
        @include flex();
        .nav__level1__items__Home  {
            margin-right: 20px;
        }
    }
}