@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');



* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


@mixin transition {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Variables

$bgWhite:#ffff;
$shadow:0 10px 20px 0 rgba(79, 35, 35, 0.08);
$secondaryText:#696969;
$sectionSpacing:30px 10px;


// NavBar


.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    @include transition();
}

nav {

    @include transition();
    box-shadow: $shadow;
    z-index: 10000;
    background-color: $bgWhite;

    .smallMenu {
       @include flex();
    }


    .logo {
        width: 180px;
        height: 60px;
    }

    .sidelogo {
        width: 200px;
        height: 60px;
    }
    
    .nav__level1__items__Trigger  {
        @include transition();
        margin-right: 20px;
        cursor: pointer;
        border: 0;
        outline: none;
        background-color: transparent;
         span {
             height: 2px;
             width: 18px;
             background: black;
             margin-bottom: 5px;
             display: block;
             &:nth-child(2) {
                 width: 24px;
             }
         }
    }
    // sideNav
    .nav__level1__items__Home {
      @include transition();
      box-shadow: $shadow;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      background-color: $bgWhite;
      overflow-x: hidden;
      transition: 0.5s;
        a {
        display: block;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        color: black;
        font-weight: 600; 
        &:hover {
            background-color: #ddd;
        }
        .cartICon > * {
            font-size: 20px;
        } 
    }
}

.bigscrennNav {
    margin-right: 20px;
    a {
        &:hover {
            mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
            mask-size: 200%;
            animation: shine 2s infinite;
          }
          @keyframes shine {
            from {
              -webkit-mask-position: 150%;
            }
            
            to {
              -webkit-mask-position: -50%;
            }
          }  
        text-align: center;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        color: black;
        font-weight: 600; 
        .cartICon > * {
            font-size: 20px;
        } 
    }
}
    // Menu Open logic classes

    .navisClosed {
      width: 0px;
    }
    .navisOpen {
        width: 200px;
    }
    // navTrigger anim

    .navOpen {     
        margin-top: 10px;
        span {
            @include transition();
            position: relative;
            &:nth-child(1) {
                transform: rotate(48deg);
                top: -3px;
              
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(135deg);
                top: -10px;
            }
        }
    }
}

// !--- NavBar


// Index Page

.LandingPageHero {
   margin-bottom: 10px;
   height: 70vh;
    .col-md-6{
        padding: 0;
    }
   .swiper-container {
    height: 100%;
    }
    .container,.container-fluid ,.row {
    height: 100%;
    }

    .headerText {
        h1 {
            text-align: center;
            margin-top: 70px;
        }

        h2 {
            text-align: center;
        }

        p {
            color: $secondaryText;
            padding: 10px;
            text-align: center;
        }
    }

}

.whoweare {
    padding: $sectionSpacing;
    h1 {
        text-align: center;
        padding: 10px;
        &::after {
            content: "";
            width: 70px;
            height: 2px;
            background-color: black;
            display: block;
            text-align: center;
            left: 50%;
            position: absolute;
            transform: translate(-50%);
        }
    }

    p {
        text-align: center;
        color:$secondaryText
    }
}

.indexPage section > h1 {
    padding: $sectionSpacing;

    text-align: center;
    &::after {
        content: "";
        width: 70px;
        height: 2px;
        background-color: black;
        display: block;
        text-align: center;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
    }
}

// Featured Items

.featuredItms {

    .row {

        position: relative;
    }

}





// Media Queries

@media screen and (max-width: 900px) {
    .bigscrennNav {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .nav__level1__items__Trigger {
        display: none !important;
    }

      nav {
        @include flex();
        .nav__level1__items__Home  {
            margin-right: 20px;
        }
    }
}


@media screen and (max-width: 1000px) {

    .LandingPageHero {
        height: auto;
    }
}


